--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    "timestamp" timestamp(6) without time zone NOT NULL,
    details character varying(1000),
    action character varying(255),
    entity_id character varying(255),
    entity_type character varying(255),
    ip_address character varying(255),
    performed_by character varying(255),
    user_email character varying(255),
    user_name character varying(255)
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.audit_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batches (
    anomaly_score double precision NOT NULL,
    duplicate boolean,
    handover boolean,
    initial_weight double precision NOT NULL,
    license boolean,
    route boolean,
    weight boolean,
    created_at timestamp(6) without time zone NOT NULL,
    created_by bigint NOT NULL,
    extraction_date timestamp(6) without time zone NOT NULL,
    id bigint NOT NULL,
    mine_id bigint NOT NULL,
    batch_code character varying(255) NOT NULL,
    mineral_type character varying(255) NOT NULL,
    override_note character varying(255),
    risk_level character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    duplicate_code boolean,
    future_extraction boolean,
    weight_loss boolean,
    inspected_at timestamp(6) without time zone,
    inspector_approved boolean,
    inspector_note character varying(255),
    inspected_by bigint,
    CONSTRAINT batches_risk_level_check CHECK (((risk_level)::text = ANY ((ARRAY['UNKNOWN'::character varying, 'LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying])::text[]))),
    CONSTRAINT batches_status_check CHECK (((status)::text = ANY ((ARRAY['REGISTERED'::character varying, 'IN_TRANSIT'::character varying, 'IN_STORAGE'::character varying, 'FLAGGED'::character varying, 'SOLD'::character varying])::text[])))
);


ALTER TABLE public.batches OWNER TO postgres;

--
-- Name: batches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.batches ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.batches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fraud_analyses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fraud_analyses (
    id bigint NOT NULL,
    analyzed_at timestamp(6) with time zone,
    findings character varying(255),
    risk_level character varying(255),
    batch_id bigint,
    CONSTRAINT fraud_analyses_risk_level_check CHECK (((risk_level)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'UNKNOWN'::character varying])::text[])))
);


ALTER TABLE public.fraud_analyses OWNER TO postgres;

--
-- Name: fraud_analyses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.fraud_analyses ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fraud_analyses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mineral_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mineral_batches (
    id bigint NOT NULL,
    batch_number character varying(255),
    created_at timestamp(6) with time zone,
    mineral_type character varying(255),
    qr_code_path character varying(255),
    quantity double precision,
    status character varying(255),
    mine_id bigint,
    CONSTRAINT mineral_batches_status_check CHECK (((status)::text = ANY ((ARRAY['REGISTERED'::character varying, 'IN_TRANSIT'::character varying, 'IN_STORAGE'::character varying, 'SOLD'::character varying, 'FLAGGED'::character varying])::text[])))
);


ALTER TABLE public.mineral_batches OWNER TO postgres;

--
-- Name: mineral_batches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mineral_batches ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mineral_batches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mines (
    active boolean NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    district character varying(255),
    license_number character varying(255),
    location character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    province character varying(255)
);


ALTER TABLE public.mines OWNER TO postgres;

--
-- Name: mines_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mines ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: movement_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movement_events (
    id bigint NOT NULL,
    event_time timestamp(6) with time zone,
    from_location character varying(255),
    to_location character varying(255),
    type character varying(255),
    batch_id bigint,
    CONSTRAINT movement_events_type_check CHECK (((type)::text = ANY ((ARRAY['DISPATCH'::character varying, 'RECEIVE'::character varying, 'STORAGE'::character varying, 'SALE'::character varying])::text[])))
);


ALTER TABLE public.movement_events OWNER TO postgres;

--
-- Name: movement_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.movement_events ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.movement_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movements (
    weight double precision NOT NULL,
    batch_id bigint NOT NULL,
    id bigint NOT NULL,
    "timestamp" timestamp(6) without time zone NOT NULL,
    driver_name character varying(255),
    event_type character varying(255) NOT NULL,
    from_location character varying(255) NOT NULL,
    notes character varying(255),
    recorded_by character varying(255) NOT NULL,
    to_location character varying(255) NOT NULL,
    vehicle character varying(255),
    CONSTRAINT movements_event_type_check CHECK (((event_type)::text = ANY ((ARRAY['DISPATCH'::character varying, 'RECEIVE'::character varying, 'STORAGE'::character varying, 'SALE'::character varying, 'TRANSFER'::character varying])::text[])))
);


ALTER TABLE public.movements OWNER TO postgres;

--
-- Name: movements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.movements ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.movements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    read boolean NOT NULL,
    id bigint NOT NULL,
    "timestamp" timestamp(6) without time zone NOT NULL,
    user_id bigint,
    message character varying(1000) NOT NULL,
    related_entity_id character varying(255),
    related_entity_type character varying(255),
    title character varying(255) NOT NULL,
    type character varying(255) NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    created_at timestamp(6) without time zone NOT NULL,
    id bigint NOT NULL,
    address character varying(255),
    email character varying(255),
    name character varying(255) NOT NULL,
    phone character varying(255)
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.organizations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organizations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    failed_login_attempts integer NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    id bigint NOT NULL,
    organization_id bigint,
    email character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'MINE_OFFICER'::character varying, 'SUPPLY_OFFICER'::character varying, 'INSPECTOR'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: verification_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_logs (
    id bigint NOT NULL,
    verification_result character varying(255),
    verified_at timestamp(6) with time zone,
    verifier character varying(255),
    batch_id bigint
);


ALTER TABLE public.verification_logs OWNER TO postgres;

--
-- Name: verification_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.verification_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.verification_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verifications (
    passed boolean NOT NULL,
    batch_id bigint NOT NULL,
    id bigint NOT NULL,
    "timestamp" timestamp(6) without time zone NOT NULL,
    checkpoint character varying(255) NOT NULL,
    remarks character varying(255),
    verified_by character varying(255) NOT NULL
);


ALTER TABLE public.verifications OWNER TO postgres;

--
-- Name: verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.verifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.verifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: batches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fraud_analyses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fraud_analyses (id, analyzed_at, findings, risk_level, batch_id) FROM stdin;
\.


--
-- Data for Name: mineral_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mineral_batches (id, batch_number, created_at, mineral_type, qr_code_path, quantity, status, mine_id) FROM stdin;
\.


--
-- Data for Name: mines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mines (active, created_at, id, organization_id, district, license_number, location, name, province) FROM stdin;
t	2026-04-06 22:07:49.061214	2	3	\N	\N	X	Del Mine	\N
t	2026-04-19 19:21:02.865999	4	1	one	L12	Testing	Testing mine	Test
t	2026-04-06 21:36:19.054134	1	2	kicukiro	L13	Kigali	Mine A	Kigali
\.


--
-- Data for Name: movement_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.movement_events (id, event_time, from_location, to_location, type, batch_id) FROM stdin;
\.


--
-- Data for Name: movements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations (created_at, id, address, email, name, phone) FROM stdin;
2026-04-06 21:24:50.780597	1	Kigali, Rwanda	info@minetrace.gov	MineTrace Authority	+250 788 000 000
2026-04-06 21:36:18.685658	2	\N	\N	Test	\N
2026-04-06 22:07:48.333548	3	\N	\N	Del Test Org	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: verification_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verification_logs (id, verification_result, verified_at, verifier, batch_id) FROM stdin;
\.


--
-- Data for Name: verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verifications (passed, batch_id, id, "timestamp", checkpoint, remarks, verified_by) FROM stdin;
t	4	1	2026-04-07 22:09:22.893639	QR Scan Checkpoint	\N	System Admin
t	6	2	2026-04-09 15:50:24.248779	QR Scan Checkpoint	\N	Hoodie
t	6	3	2026-04-09 15:50:24.248779	QR Scan Checkpoint	\N	Hoodie
f	11	4	2026-04-11 20:36:03.972662	QR Scan Checkpoint	\N	Hoodie
f	11	5	2026-04-11 20:36:03.972662	QR Scan Checkpoint	\N	Hoodie
\.


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 98, true);


--
-- Name: batches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.batches_id_seq', 13, true);


--
-- Name: fraud_analyses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fraud_analyses_id_seq', 1, false);


--
-- Name: mineral_batches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mineral_batches_id_seq', 1, false);


--
-- Name: mines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mines_id_seq', 4, true);


--
-- Name: movement_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movement_events_id_seq', 1, false);


--
-- Name: movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movements_id_seq', 12, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 64, true);


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizations_id_seq', 4, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: verification_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.verification_logs_id_seq', 1, false);


--
-- Name: verifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.verifications_id_seq', 5, true);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: batches batches_batch_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_batch_code_key UNIQUE (batch_code);


--
-- Name: batches batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_pkey PRIMARY KEY (id);


--
-- Name: fraud_analyses fraud_analyses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fraud_analyses
    ADD CONSTRAINT fraud_analyses_pkey PRIMARY KEY (id);


--
-- Name: mineral_batches mineral_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mineral_batches
    ADD CONSTRAINT mineral_batches_pkey PRIMARY KEY (id);


--
-- Name: mines mines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mines
    ADD CONSTRAINT mines_pkey PRIMARY KEY (id);


--
-- Name: movement_events movement_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movement_events
    ADD CONSTRAINT movement_events_pkey PRIMARY KEY (id);


--
-- Name: movements movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movements
    ADD CONSTRAINT movements_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: verification_logs verification_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_logs
    ADD CONSTRAINT verification_logs_pkey PRIMARY KEY (id);


--
-- Name: verifications verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verifications
    ADD CONSTRAINT verifications_pkey PRIMARY KEY (id);


--
-- Name: mines fk1w5cl2a6rjfmamq80m3qtqd85; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mines
    ADD CONSTRAINT fk1w5cl2a6rjfmamq80m3qtqd85 FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: verifications fk5gcbaw9433r8c5fw3ir76fx2u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verifications
    ADD CONSTRAINT fk5gcbaw9433r8c5fw3ir76fx2u FOREIGN KEY (batch_id) REFERENCES public.batches(id);


--
-- Name: notifications fk9y21adhxn0ayjhfocscqox7bh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk9y21adhxn0ayjhfocscqox7bh FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: batches fkedq52bebudefw0cud4ev6ynle; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT fkedq52bebudefw0cud4ev6ynle FOREIGN KEY (mine_id) REFERENCES public.mines(id);


--
-- Name: batches fkix3ux2vfrgpr80vvd5cqdg6il; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT fkix3ux2vfrgpr80vvd5cqdg6il FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: movements fknwynqo5kxw7pig8gekvwlmmky; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movements
    ADD CONSTRAINT fknwynqo5kxw7pig8gekvwlmmky FOREIGN KEY (batch_id) REFERENCES public.batches(id);


--
-- Name: verification_logs fkqb77ij85ovo7j2gjdr0biklr1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_logs
    ADD CONSTRAINT fkqb77ij85ovo7j2gjdr0biklr1 FOREIGN KEY (batch_id) REFERENCES public.mineral_batches(id);


--
-- Name: users fkqpugllwvyv37klq7ft9m8aqxk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fkqpugllwvyv37klq7ft9m8aqxk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: batches fkqspbclhj6xeenb4h76v6pqfmv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT fkqspbclhj6xeenb4h76v6pqfmv FOREIGN KEY (inspected_by) REFERENCES public.users(id);


--
-- Name: movement_events fksp3g8usdpqffeuii2vwqhiv99; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movement_events
    ADD CONSTRAINT fksp3g8usdpqffeuii2vwqhiv99 FOREIGN KEY (batch_id) REFERENCES public.mineral_batches(id);


--
-- Name: fraud_analyses fktr5wv4fbp2ehcju0naax3w41k; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fraud_analyses
    ADD CONSTRAINT fktr5wv4fbp2ehcju0naax3w41k FOREIGN KEY (batch_id) REFERENCES public.mineral_batches(id);


--
-- PostgreSQL database dump complete
--

